@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


@media screen and (min-width: 800px) {

    body {
        /*display: flex;
        justify-content: center;
        align-items: center;*/
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        font-family: Arial, sans-serif;
    }

    .container {
        display: flex;
        justify-content: space-between; /* Opcional: distribui espaço entre as divs */
        align-items: center; /* Centraliza as divs verticalmente */
        width: 80%; /* Ajuste conforme necessário */
        background-image: none;
        
    }

    .teste{
        background-color: #4CAF50;
        color: white;
        margin: 10px;
        text-align: center;
        border-radius: 10px;
        flex: 1; /* Ajusta para que todas as divs tenham o mesmo tamanho */
    }

    main {
        width: 100%;
    }

    img {
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    
    div {
      display: inline-block;
    }

    
}


