@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

/*
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
*/

/*
    //<uniquifier>: Use a unique and descriptive class name
    // <weight>: Use a value from 400 to 800
    
    .rethink-sans-<uniquifier> {
        font-family: "Rethink Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
    }
*/

/* MOBILE FIRST - até 800px(768px) */

body {
    background-color: hsl(0, 0%, 8%);
    text-align: center;
    color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    margin: -80px 0px;
}

img {
    border-radius: 50%;
    width: 80px;
    padding: 6px;
    margin-bottom: 15px;
    /*box-shadow: 2px 2px 2px 2px white;*/
    border: 1px solid hsl(75, 94%, 57%);
}

main {
    background-color: hsl(0, 0%, 12%);
    border-radius: 20px;
    padding: 25px;
    margin: 120px 20px;
    /*margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;*/
}

h1 {
    /*font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;*/

    font-family: "Rethink Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: italic;
    font-size: 22px;
    padding: 10px;

}

h2 {
    color: hsl(75, 94%, 57%);
    font-size: 16px;
    margin: -10px 0px;
    font-weight: 400;
}

p {
    font-size: 16px;
    margin-bottom: 30px;
    margin-top: 20px;
    font-weight: 300;
    text-align: left;
    padding-left: 30px;
    line-height: 2em;
    padding-top: -10px;
}

/*div {          
    width: 350px;
    height: 320px;
    //margin: 10px -8px;
    width: 330px;
    margin-bottom: 20px;
    border-radius: 20px;
}*/

div {
    background-image: url('../imagem/halter.jpg');
    width: 350px;
    height: 320px;
    border-radius: 20px;
    margin: 10px auto;
}


div#a {
    border: 1px solid ; /*OPÇÃO VERDE - hsl(75, 94%, 57%)*/
    box-shadow: 2px 2px 5px 2px rgba(151, 137, 137, 0.301);
}

div.teste > h3 {
    font-size: 20px;
    padding-top: 10px;
    color: yellow;
    text-decoration: underline;
    
}

div#b {
    border: 1px solid;
    box-shadow: 2px 2px 5px 2px rgba(151, 137, 137, 0.301);
}

div#c {
    border: 1px solid;
    box-shadow: 2px 2px 5px 2px rgba(151, 137, 137, 0.301);
}

div#d {
    border: 1px solid;
    box-shadow: 2px 2px 5px 2px rgba(151, 137, 137, 0.301);
}

